<main class="main-content container">
    <h2 class="text-center">About us</h2>
    <div class="about-us-content">
        <div class="image">
            <img src="https://github.com/JorelRobot/forniture-shop/blob/main/img/nosotros.jpg?raw=true" alt="Image about us">
        </div>
        <div class="our-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quam ipsam culpa aut illum
                reprehenderit.
                Cupiditate asperiores veritatis iure dolorem ex nisi recusandae ut, officiis dolores architecto
                earum
                delectus ratione.</p>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, repudiandae porro natus aperiam
                atque
                mollitia exercitationem, nisi, at recusandae explicabo nihil. Numquam commodi optio possimus cum?
                Natus
                reiciendis vel possimus.</p>
        </div>
    </div>
</main>