<main class="main-content container">
    <h2 class="text-center">Entry Blog</h2>

    <article class="entry entry-content">
        <h2>Colors Guide</h2>

        <div class="image">
            <img src="https://github.com/JorelRobot/forniture-shop/blob/main/img/nosotros.jpg?raw=true" alt="Image Blog">
        </div>

        <div class="meta-entry">
            <p>Date: <span>October 22, 2022</span></p>
            <p>Written by: <span>Forniture Shop</span></p>
        </div>

        <div class="blog-entry">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur a corrupti id
                aliquid, dolorum repellendus voluptate ut assumenda error distinctio ipsam porro minima
                officia ab at? Blanditiis, tenetur quaerat.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur a corrupti id
                aliquid, dolorum repellendus voluptate ut assumenda error distinctio ipsam porro minima
                officia ab at? Blanditiis, tenetur quaerat.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim perspiciatis debitis repellat id! Eius
                voluptas reiciendis repudiandae explicabo laboriosam praesentium deserunt, nam illum repellat
                tempore quod odit nobis quae voluptate?
                Amet consequuntur, placeat eveniet sequi incidunt eligendi reprehenderit recusandae. Odit ab
                incidunt tempora magnam tempore voluptatum assumenda harum, possimus quas fuga dolores eligendi
                totam ipsam in error nihil illum quibusdam.
                Libero magni totam cum non deleniti iste tenetur provident velit dolores ratione eos, temporibus
                necessitatibus architecto et vel officia nostrum facilis explicabo ut distinctio cupiditate
                veritatis ea! At, doloribus tempore.
                Magnam delectus sed animi culpa sunt officia quisquam dolore, repellat, corrupti repudiandae,
                similique iste porro nesciunt accusamus deserunt dignissimos veritatis id facilis blanditiis a
                placeat? Vitae obcaecati ut eius sit.
                Nulla harum aspernatur repudiandae sapiente ex nostrum placeat rem hic odit eligendi voluptatibus,
                eum doloremque modi vel molestias? Assumenda saepe quod, aliquam dignissimos cum omnis est
                necessitatibus veritatis ut doloremque!</p>
        </div>
    </article>
</main>