<footer class="site-footer">
    <div class="grid-footer container">
        <div>
            <h3>Categories</h3>
            <nav class="navegation navigation-footer">
                <a href="#">Kitchen</a>
                <a href="#">Office</a>
                <a href="#">Garden</a>
                <a href="#">Garage</a>
                <a href="#">Bedroom</a>
            </nav>
        </div>
        <div>
            <h3>About us</h3>
            <nav class="navegation navigation-footer">
                <a href="#">Our Story</a>
                <a href="#">Mission, Vision and Values</a>
                <a href="#">Careers</a>
                <a href="#">Privacy politics</a>
                <a href="#">Services Terms</a>
            </nav>
        </div>
        <div>
            <h3>Support</h3>
            <nav class="navegation navigation-footer">
                <a href="#">Frequent Questions</a>
                <a href="#">Online Support</a>
                <a href="#">Trust and Security</a>
            </nav>
        </div>
    </div>
    <div class="rights-footer">
        <p>All rights reserved, Forniture Shop</p>
    </div>
</footer>