<article class="entry">
    <h2>Colors Guide</h2>

    <div class="image">
        <img src="https://github.com/JorelRobot/forniture-shop/blob/main/img/nosotros.jpg?raw=true" alt="Image Blog">
    </div>

    <div class="meta-entry">
        <p>Date: <span>October 22, 2022</span></p>
        <p>Written by: <span>Forniture Shop</span></p>
    </div>

    <div class="blog-entry">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur a corrupti id
            aliquid, dolorum repellendus voluptate ut assumenda error distinctio ipsam porro minima
            officia ab at? Blanditiis, tenetur quaerat.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consequatur a corrupti id
            aliquid, dolorum repellendus voluptate ut assumenda error distinctio ipsam porro minima
            officia ab at? Blanditiis, tenetur quaerat.</p>
    </div>

    <a href="/entry" class="btn max-width-30">Read article</a>
</article>