.main-content {
    padding-top: 5rem;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.product:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product:nth-child(1) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.product:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.product:nth-child(2) img,
.product:nth-child(3) img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(4) {
    grid-column: 1 / 3;
}

.product:nth-child(5) {
    grid-column: 3 / 5;
}

.product:nth-child(6) {
    grid-column: 5 / 7;
}

