<section class="container categories">
    <h2 class="text-center">Product Categories</h2>

    <div class="categories-list">
        <app-category [imageUrl]="'https://github.com/JorelRobot/forniture-shop/blob/main/img/categoria1.jpg?raw=true'"></app-category>
        <app-category [imageUrl]="'https://github.com/JorelRobot/forniture-shop/blob/main/img/categoria2.jpg?raw=true'"></app-category>
        <app-category [imageUrl]="'https://github.com/JorelRobot/forniture-shop/blob/main/img/categoria3.jpg?raw=true'"></app-category>
    <!-- 
        <div class="categorie">
            <img src="img/categoria1.jpg" alt="Category Image" />
            <a href="#">Office</a>
        </div>
        <div class="categorie">
            <img src="img/categoria2.jpg" alt="Category Image" />
            <a href="#">Home</a>
        </div>
        <div class="categorie">
            <img src="img/categoria3.jpg" alt="Category Image" />
            <a href="#">Kitchen</a>
        </div> 
    -->
    </div>
</section>