<main class="main-content container">
    <h2 class="text-center">Our Blog</h2>

    <section class="blog-container">
        <div class="blog">
            <app-article></app-article>
            <app-article></app-article>
        </div>

        <aside>
            <h3>Another blog entries</h3>
            <ul>
                <li>
                    <a href="/entry">Color guide</a>
                </li>
                <li>
                    <a href="/entry">New models</a>
                </li>
                <li>
                    <a href="/entry">Interior design guide</a>
                </li>
                <li>
                    <a href="/entry">Exterior design guide</a>
                </li>
            </ul>
        </aside>
    </section>
</main>