.category a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.category a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-bottom-right-radius: 1rem;
}