<div class="hero">

</div>

<app-categories></app-categories>

<section class="about-us">
    <div class="container about-us-grid">
        <div class="about-us-text">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus alias hic quidem sit
                consectetur, non, incidunt dicta soluta cum repellendus repudiandae dignissimos aspernatur, harum
                sequiet! Eius, excepturi harum.</p>
        </div>
    </div>
</section>

<app-products></app-products>